*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

header{
    background-color: white;
}

body{
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

main{
    width: 60%;
    height: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

li{
    line-height: 35px ;
}

.button-task{
    color: white;    
    border-color: rgb(71, 173, 241);
    background-color: rgb(71, 173, 241);
}


.button-section{
    color: silver;    
    border-color: silver;
}

.common{
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 5px;
}


.padding{
    padding: 35px 70px 70px 70px;
    margin-top: 2px;
    
}

.back-color{
    background-color: white;
    border-radius: 5px;
}

.li-titles{
    font-weight: 900;
    list-style-image: url(../img/black-triangle.png);
    
}

.red-check{
    list-style-image: url(../img/check-rosso.png);
    
}

.green-check{
    list-style-image: url(../img/check-verde.png);
}

.inter-line{
    margin-bottom: 20px;
}

#spaziamento{
    background-color: white;
    padding: 15px 50px ;
}
